[Unit]
Description = Citizen Seismology Network Daemon
After = network.target

[Service]
Type=forking
PIDFile = /opt/csnd/run/csnd.pid
ExecStart = /opt/csnd/bin/csnd -c /opt/csnd/etc/csnd.yml -d
ExecReload=/bin/kill -HUP $MAINPID
Restart = no

[Install]
WantedBy = multi-user.target
